*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 20px 0;
    position: relative;
}

header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(2, 80, 197, 0.37) 0%, rgba(212, 63, 140, 0.39) 100%),url(../img/portada1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.nav{
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
  transition: all 0.5s ease;
}

.nav.active{
  z-index: 10;
  background: #fff;
  padding: 15px;
}

.nav.active .logo img{
  filter: brightness(0) invert(37%) sepia(11%) saturate(2253%) hue-rotate(217deg) brightness(92%) contrast(86%);
}

.nav.active .menu-text{
  color: #695597;
}

.nav.active .menu-text:hover{
  background: #695597;
  color: #fff;
}

.logo{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img{
  height: 75px;
  margin-right: px;
}

.menu{
  display: flex;
}

.menu li{
  list-style: none;
  margin: 25px;
}

.nav.active .menu li img{
  filter: invert(37%) sepia(11%) saturate(2253%) hue-rotate(217deg) brightness(92%) contrast(86%);
}

.menu li .menu-text{
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s ease;
}

.menu li .menu-text:hover{
  padding: 5px 10px;
  background: #fff;
  color: #695597;
  border-radius: 15px;
}

.scrol{
  height: 100px;
}

.head{
  padding: 0;
  height: 50%;
  width: 50%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin: -50px 0 0 -385px;
  top: 50%;
  left: 50%;
  position: absolute;
  color: white;
}

.hamburger{
  z-index: 9;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  filter: invert(37%) sepia(11%) saturate(2253%) hue-rotate(217deg) brightness(92%) contrast(86%);
}

.hamburger:hover{
  padding: 2px 4px;
  border-radius: 10px;
  filter: invert(37%) sepia(11%) saturate(2253%) hue-rotate(217deg) brightness(92%) contrast(86%);
}

.button-hamb{
  border-radius: 10px;
  color: #fff;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
  transition: all 0.5s ease;
}

.button-hamb:hover{
  padding: 3px 6px;
}

.menu-navegacion{
    position: fixed;
    display: flex;
    z-index: 10;
    top: 0;
    right: 0;
    width: 25vw;
    height: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread{
    transform: translate(0);
    z-index: 10;
}

.titulo{
    font-size: 55px;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.616);
}

.copy{
    font-weight: 300;
    font-size: 25px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.616);
}

.subtitulo{
    text-align: center;
    font-weight: 350;
    color: #695597;
    margin-bottom: 40px;
    font-size: 35px;
}

.subtitulo-ensayos{
    font-weight: 380;
    color: #695597;
}

.subtitulo-card{
    font-weight: 380;
    color: #695597;
}

.contenedor-ensayos img{
    width: 585px;
}

.trial{
    margin-bottom: 20px;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .card-2{
    cursor: pointer;
  }

  .card-2:hover{
    color: #695597;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .more-work{
    display: flex;
    justify-content: center;
    padding-top: 70px;
  }

  .button-work{
    text-decoration: none;
    font-size: 25px;
    background-color: #695597;
    color: #fff;
    border-radius: 5px;
    padding: 5px 20px;
    transition: all 0.3s ease;
  }

  .button-work:hover{
    background-color: #453a94;
    color: #fff;
    padding: 5px 50px;
  }

  .card-text-2{
    font-size: 22px;
  }

  .c-b-2{
    height: 7em;
  }

  /* Footer */

  footer{
    background: #856ebb;
    padding-bottom: 0.1px;
  }

  .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .f-img{
    height: 150px;
  }

  .af-content{
    display: flex;
    flex-direction: column;
  }

  .a-footer{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }

  .a-footer:hover{
    background: #fff;
    color: #695597;
    border-radius: 5px;
  }

  .h-footer{
    color: #fff;
  }

  .contact-us{
    width: 40%;
    color: #fff;
  }

  .brand{
    font-weight: 500;
    font-size: 40px;
  }

  .brand+p{
    font-weight: 500;
  }

  .social-media{
    margin-top: 5px;
    position: absolute;
    left: 890px;
    top: 170px;
    height: 30%;
    display: flex;
    justify-content: flex-end;
  }

  .social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
  }

  .social-media-icon:hover{
    background: #fff;
    color: #695597;
  }

  .social-media-icon i{
    font-size: 30px;
    line-height: 60px;
  }

  .line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
  }

  /* Modal */

  .moda1{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s .5s;
    --transform: translateY(-100vh);
    --transition: transform .5s;
  }

  .modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .5s;
    --transform: translateY(0);
    --transition: transform .4s .5s;
  }

  .modal-container{
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    margin: auto;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    transform: var(--transform);
    transition: var(--transition);
  }

  .modal-close{
    text-decoration: none;
    margin: auto;
    margin-top: 40px;
    width: 30%;
    display: block;
    border: none;
    padding: 5px 10px;
    color: #fff;
    background-color: #695597;
    border-radius: 5px;
    transition: background-color .3s;
  }

  .modal-close:hover{
    color: #fff;
    background-color: #3f2f66;
  }

  /* Segundo modal */

  .modal-2{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s .5s;
    --transform: translateY(-100vh);
    --transition: transform .5s;
  }

  .modal--show-2{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .5s;
    --transform: translateY(0);
    --transition: transform .4s .5s;
  }

  .modal-container-2{
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    margin: auto;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    transform: var(--transform);
    transition: var(--transition);
  }

  .modal-close-2{
    text-decoration: none;
    margin: auto;
    margin-top: 40px;
    width: 30%;
    display: block;
    border: none;
    padding: 5px 10px;
    color: #fff;
    background-color: #695597;
    border-radius: 5px;
    transition: background-color .3s;
  }

  .modal-close-2:hover{
    color: #fff;
    background-color: #3f2f66;
  }

  /* Formularion de cuenta */

  .formulario{
    width: 100%;
    padding: 15px;
  }

  .modal-tittle-2{
    text-align: center;
    color: #695597;
    font-size: 40px;
  }

  input[type="text"],
  input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
  }

  .input-formulario{
    margin-bottom: 15px;
    border: 1px solid #aaa;
  }

  .icon-account{
    font-size: 20px;
    min-width: 50px;
    text-align: center;
    color: #999;
  }

  .button-account{
    border: none;
    width: 100%;
    color: #fff;
    font-size: 20px;
    background: #695597;
    padding: 15px 20px;
    border-radius: 5px;
  }

  .button-account:hover{
    color: #fff;
    background: #3f2f66;
  }

.p-account{
  text-align: center;
}

.link-account{
  text-decoration: none;
  color: #695597;
  font-weight: 600;
}

.link-account:hover{
  color: #3f2f66;
}

/* Profile */

.profile{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.profile-content{
  padding-bottom: 140px;
}

.icon-profile{
  font-size: 20px;
  min-width: 50px;
  text-align: center;
  cursor: unset;
}

.box-line{
  margin-top: 70px;
}

.profile-box{
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  transition: all .3s ease;
}

.profile-box:hover{
  background-color: #fff;
  padding: 5px 50px;
  border-radius: 5px;
  color: #695597;
}

.img-profile{
  margin: auto;
  display: block;
  height: 125px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(219deg) brightness(104%) contrast(102%);
}

/* pages - html */

.header-2{
  height: 40vh;
  background-image: linear-gradient(to top, rgba(2, 80, 197, 0.37) 0%, rgba(212, 63, 140, 0.39) 100%),url(../img/portada1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.titulo-2{
  font-size: 55px;
  margin-bottom: px;
  text-align: center;
  color: #695597;
}

.c-2:hover{
  color: #695597;
}

.search-1{
  padding: 5px;
}

.search-1 input{
  height: 30px;
  padding: 0 20px;
  font-size: 20px;
  color: #695597;
  outline: none;
  border: 1px solid #999;
  border-radius: 10px;
}

.search-button{
  position: absolute;
  top: 43px;
  right: 268px;
  width: 55px;
  height: 55px;
  background: #695597;
  line-height: 55px;
  transition: all .5s ease;
  text-align: center;
  color: #fff;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
}

.nav.active .search-button{
  top: 33px;
  right: 258px;
}

.search-button:hover{
  background: #453a94;
}